/* General settings. */
html {
    font-family: sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

/* Styling a form and its contents. */
form {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 2em;
    width: 36.6666em;
}

form div + div {
    margin-top: .6666em;
}

label {
    display: inline-block;
    line-height: 1.5;
    margin-right: 0.6666em; 
    text-align: right;
    width: 14.3333em;
}

input {
    border: .06666em solid rgb(0, 0, 0);
    box-sizing: border-box;
    font: 1em sans-serif;
    font-family: sans-serif;
    line-height: 1.5;
    vertical-align: middle;
    width: 21.6666em;
}

input:focus {
    background-color: rgb(244, 243, 194);
}

button {
    box-sizing: border-box;
    display: inline-block;
    font: 1em sans-serif;
    font-family: sans-serif;
    line-height: 1.5;
    margin-left: 11em;
    width: 14.6666em;
}

select {
    border: .06666em solid rgb(0, 0, 0);
    box-sizing: border-box;
    font: 1em sans-serif;
    font-family: sans-serif;
    line-height: 1.5;
    vertical-align: middle;
    width: 21.6666em;
}

/* Styling a supplementary navigation panel and its contents. */
.basic-navigation {
    margin: 3em auto;
}

.basic-navigation a {
	display: inline-block;
	font-size: 1.5em;
    line-height: 1.5;
    margin-right: 0.6666em;
    text-align: center;
    width: 13.3333em;
}

/* Tweak the right margin of the last reference. */
.basic-navigation a:LAST-CHILD, .basic-navigation a:LAST-CHILD:LINK, 
        .basic-navigation a:LAST-CHILD:VISITED, 
        .basic-navigation a:LAST-CHILD:FOCUS, 
        .basic-navigation a:LAST-CHILD:HOVER, 
        .basic-navigation a:LAST-CHILD:ACTIVE {
    margin-right: 0;
}

/* 
 * Tweak the width of the panel for the welcome (it depends on the number of
 * buttons).
 */
#welcome.basic-navigation {
    width: 20.2em;
}

/* Styling the main heading. */
h1 {
    font-family: sans-serif;
    font-size: 2em;
    line-height: 1.5;
    margin: .5em auto;
    text-align: center;
    width: 27.5em;
}

/* 
 * Tweak the width of the panel for the result page (it depends on the number 
 * of buttons).
 */
#result.basic-navigation {
    width: 41.4em;
}

/* Styling a table and its contents. */
table {
    border: .13333em solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 1.5em;
    line-height: 1.5;
    width: 100%;
}

/* Apply some white space and alignment. */
th, td {
    padding: .6666em;
}

th {
    font-family: sans-serif;
    letter-spacing: .13333em;
}

td {
    letter-spacing: .06666em;
}

tbody td {
    text-align: center;
}

thead th {
    border: .13333em solid rgb(0, 0, 0);
}

.error-message-container {
	font-size: 1.5em;
	margin: 0 auto;
	width: 17em;
}