/* Font customization. */
@font-face {
    font-family: 'dancing_script';
    src: url('fonts/dancingscript-regular-webfont.woff2') format('woff2'), 
         url('fonts/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'life_savers';
    src: url('fonts/lifesavers-regular-webfont.woff2') format('woff2'), 
         url('fonts/lifesavers-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General settings. */
html {
    font-family: 'life_savers', sans-serif;
    font-size: 10px;
}

body {
	background: rgba(87, 187, 153, 0.7) url(../images/medical-sign.png) no-repeat 0 1em;
    margin: 0;
}

/* It's used for redirection to the welcome page. */
a img {
	left: 0;
	position: absolute;
	top: 1em;
}

/* Styling a form and its content. */
form {
    border: .13333em solid rgb(67, 137, 203);
    border-radius: 1em;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 2em;
    width: 36.6666em;
}

form div + div {
    margin-top: .6666em;
}

label {
    display: inline-block;
    line-height: 1.5;
    margin-right: 0.6666em; 
    text-align: right;
    width: 14.3333em;
}

input {
    border: .06666em solid rgb(0, 0, 0);
    box-sizing: border-box;
    font: 1em sans-serif;
    font-family: 'life_savers', sans-serif;
    line-height: 1.5;
    vertical-align: middle;
    width: 21.6666em;
}

input:focus {
    background-color: rgb(244, 243, 194);
}

.placeholder {
	color: rgba(192, 192, 192, 0.9);
}

select {
    border: .06666em solid rgb(0, 0, 0);
    box-sizing: border-box;
    font: 1em sans-serif;
    font-family: 'life_savers', sans-serif;
    line-height: 1.5;
    vertical-align: middle;
    width: 21.6666em;
}

textarea {
	border: .06666em solid rgb(0, 0, 0);
	box-sizing: border-box;
	font: 1em sans-serif;
	font-family: 'life_savers', sans-serif;
	line-height: 1.5;
	resize: none;
	vertical-align: top;
	width: 21.6666em;
}

textarea:focus {
    background-color: rgb(244, 243, 194);
}

button {
    box-sizing: border-box;
    display: inline-block;
    font: 1em sans-serif;
    font-family: 'life_savers', sans-serif;
    line-height: 1.5;
    margin-left: 11em;
    width: 14.6666em;
}

td form {
	border: none;
	padding: 0em;
	width: auto;
}

td button {
    box-sizing: border-box;
    display: inline-block;
    font: 0.6666em sans-serif;
    font-family: 'life_savers', sans-serif;
    line-height: 1.5;
    margin-left: 0em;
    width: 95%;
}

/* Styling a dialog box container. */
div.dialog-box-container {
	background-color: rgba(255, 255, 255, 0.8);
    display: none;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;
}

/* Styling a dialog box and its contents. */
div.dialog-box {
	background-color: rgb(255, 255, 255);
	border: .13333em solid rgb(67, 137, 203);
    border-radius: 1em;
    font-size: 1.5em;
    left: 37%;
    padding: 2em;
    position: absolute;
    top: 40%;
    width: 16.6666em;
}

div.dialog-box button {
    box-sizing: border-box;
    display: inline-block;
    font: 1em sans-serif;
    font-family: 'life_savers', sans-serif;
    line-height: 1.5;
    margin-left: 0;
    margin-top: .6666em;
    width: 3.3333em;
}

div.dialog-box button:FIRST-OF-TYPE {
	margin-left: 4.6666em;
	margin-right: 0.6666em;
}

div.dialog-box p {
	margin: 0;
}

/* Styling a message dialog box and its contents. */
div.message-dialog-box {
    background-color: rgb(255, 255, 255);
    border: .13333em solid rgb(67, 137, 203);
    border-radius: 1em;
    display: none;
    font-size: 1.5em;
    left: 37%;
    padding: 2em;
    position: absolute;
    top: 40%;
    width: 16.6666em;
}

div.message-dialog-box button {
    box-sizing: border-box;
    display: inline-block;
    font: 1em sans-serif;
    font-family: 'life_savers', sans-serif;
    line-height: 1.5;
    margin-left: 5.6666em;
    margin-top: .6666em;
    width: 5.3333em;
}

div.message-dialog-box p {
    margin: 0;
}

/* Styling a supplementary navigation panel and its content. */
.basic-navigation {
    margin: 3em auto;
    opacity: 0.5;
}

.basic-navigation:FOCUS, .basic-navigation:HOVER {
    opacity: 1;
}

.basic-navigation a, .basic-navigation a:LINK, .basic-navigation a:VISITED {
    border: .06666em solid rgb(67, 137, 203);
    border-radius: 1em;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.5;
    margin-right: 0.6666em;
    text-align: center;
    text-decoration: none;
    width: 13.3333em;
}

.basic-navigation a:FOCUS, .basic-navigation a:HOVER {
    background-color: rgb(67, 137, 203);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none;
}

.basic-navigation a:ACTIVE {
    background-color: rgb(0, 0, 0);
    border-color: rgb(67, 137, 203);
    color: rgb(255, 255, 255);
}

/* 
 * Tweak the width of the panel for the welcome and authentication page (it 
 * depends on the number of buttons).
 */
#authentication.basic-navigation, #welcome.basic-navigation {
    width: 20.2em;
}

/* 
 * Tweak the border color back to default, because it isn't the logout 
 * reference.
 */
#authentication.basic-navigation a, #welcome.basic-navigation a {
    border-color: rgb(67, 137, 203);
}

#authentication.basic-navigation a:FOCUS,
        #authentication.basic-navigation a:HOVER,
        #welcome.basic-navigation a:FOCUS, #welcome.basic-navigation a:HOVER {
    border-color: rgb(0, 0, 0);
}

#authentication.basic-navigation a:ACTIVE, #welcome.basic-navigation a:ACTIVE {
    border-color: rgb(67, 137, 203);
}

/* 
 * Tweak the border color back to default on the error page, because it isn't
 * the logout reference.
 */
#error.basic-navigation:not([class~=extended]) a:LAST-CHILD {
    border-color: rgb(67, 137, 203);
}

#error.basic-navigation:not([class~=extended]) a:FOCUS,
        #error.basic-navigation:not([class~=extended]) a:HOVER {
    border-color: rgb(0, 0, 0);
}

#error.basic-navigation a:ACTIVE {
    border-color: rgb(67, 137, 203);
}

/* Tweak the right margin of the last reference. */
.basic-navigation a:LAST-CHILD, .basic-navigation a:LAST-CHILD:LINK, 
        .basic-navigation a:LAST-CHILD:VISITED, 
        .basic-navigation a:LAST-CHILD:FOCUS, 
        .basic-navigation a:LAST-CHILD:HOVER, 
        .basic-navigation a:LAST-CHILD:ACTIVE {
    border-color: rgb(254, 0, 0);
    margin-right: 0;
}

/* 
 * Tweak the width of the panel for the main page (it depends on the number 
 * of buttons).
 */
#main.basic-navigation {
    width: 41.4em;
}

/* Styling the heading. */
h1 {
	background: linear-gradient(to right, rgba(87, 187, 153, 0) 10%,
	                            rgba(67, 137, 203, 0.4) 50%,
	                            rgba(87, 187, 153, 0) 90%);
    font-family: 'dancing_script', sans-serif;
    font-size: 2em;
    line-height: 1.5;
    margin: .5em 0;
    padding-left: 18.25em;
    padding-right: 18.25em;
    text-align: center;
}

/* Styling a list and its content that displays input errors. */
ul#errorList p {
    background: url(../images/bullet-error.png) no-repeat left top;
    background-size: 1.46666em 1.46666em;
    font-size: 1.5em;
    line-height: 1.5;
    margin: .6666em 0;
    padding-left: 1.73333em;
}

ul#errorList {
    box-sizing: border-box;
    list-style-type: none;
    margin: 1em auto;
    padding-left: 1.4em;
    width: 61.4em;
}

/* Styling the main navigation list and its content. */
.main-navigation {
    list-style-type: none;
    margin: 1em auto;
    padding-left: 0;
    width: 20.4em;
}

.main-navigation a, .main-navigation a:LINK, .main-navigation a:VISITED {
    border: .13333em solid rgb(67, 137, 203);
    border-radius: 1em;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 1.5em;
    height: 3em;
    line-height: 1.5;
    margin-bottom: 0.6666em;
    text-align: center;
    text-decoration: none;
    width: 13.3333em;
}

.main-navigation a:FOCUS, .main-navigation a:HOVER {
    background-color: rgb(67, 137, 203);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none;
}

.main-navigation a:ACTIVE {
    background-color: rgb(0, 0, 0);
    border-color: rgb(67, 137, 203);
    color: rgb(255, 255, 255);
}

/* Styling user info panel and its content. */
div.user-info {
	float: right;
	font-size: 1.5em;
	line-height: 1.6666;
	text-align: right;
	width: 18.6666em;
}

div.user-info span:NTH-OF-TYPE(2), div.user-info span:NTH-OF-TYPE(4) {
    font-weight: bold;	
}

div.user-info img {
	float: right;
	height: 3.3333em;
	width: 3.3333em;
}

div.user-info img:HOVER {
	float: none;
	height: 13.3333em;
	position : absolute;
	right: 0;
	top: .6666em;
    width: 13.3333em;
}

div.user-info img:HOVER + span::BEFORE {
	content: "";
	float: right;
}

/* 
 * Tweak the width of the panel for the image setting page (it depends on the
 * number of buttons).
 */
#image-setting.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the doctor fetching page (it depends on the
 * number of buttons).
 */
#doctor-fetching.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the free ticket fetching page (it depends
 * on the number of buttons).
 */
#free-ticket-fetching.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the ticket assigning page (it depends
 * on the number of buttons).
 */
#ticket-assigning.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the ticket canceling page (it depends
 * on the number of buttons).
 */
#ticket-cancelling.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the assigned ticket fetching page (it
 * depends on the number of buttons).
 */
#assigned-ticket-fetching.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the ticket adding page (it depends on the
 * number of buttons).
 */
#ticket-adding.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the visit committing page (it depends on
 * the number of buttons).
 */
#visit-committing.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the patient adding page (it depends on
 * the number of buttons).
 */
#patient-adding.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the service info fetching page (it depends
 * on the number of buttons).
 */
#service-info-fetching.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the used ticket fetching page (it depends
 * on the number of buttons).
 */
#used-ticket-fetching.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the own ticket viewing page (it depends
 * on the number of buttons).
 */
#own-ticket-viewing.basic-navigation {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the free ticket viewing page (it depends
 * on the number of buttons).
 */
#free-ticket-viewing.basic-navigation {
    width: 83.8em;
}

/* 
 * Tweak the width of the panel for the doctor viewing page (it depends
 * on the number of buttons).
 */
#doctor-viewing.basic-navigation {
    width: 83.8em;
}

/* 
 * Tweak the width of the panel for the assigned ticket viewing page (it
 * depends on the number of buttons).
 */
#assigned-ticket-viewing.basic-navigation {
    width: 83.8em;
}

/* 
 * Tweak the width of the panel for the service info viewing page (it
 * depends on the number of buttons).
 */
#service-info-viewing.basic-navigation {
    width: 83.8em;
}

/* 
 * Tweak the width of the panel for the used ticket viewing page (it
 * depends on the number of buttons).
 */
#used-ticket-viewing.basic-navigation {
    width: 83.8em;
}

/* 
 * Tweak the width of the panel for the error page (it depends on the number of
 * buttons).
 */
#error.basic-navigation {
    width: 41.4em;
}

#error.basic-navigation[class~=extended] {
    width: 62.6em;
}

/* 
 * Tweak the width of the panel for the response message viewing page (it
 * depends on the number of buttons).
 */
#response-message-viewing.basic-navigation {
    width: 62.6em;
}

#response-message-viewing.basic-navigation.extended {
    width: 83.8em;
}

/* 
 * Tweak the width of the panel for the user viewing page (it depends on the
 * number of buttons).
 */
#user-viewing.basic-navigation {
    width: 62.6em;
}

input[type="file"] {
	width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}

input[type="file"] + label {
	cursor: pointer;
	margin-left: 11em;
	border: .06666em solid rgb(67, 137, 203);
    border-radius: 1em;
    color: rgb(0, 0, 0);
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    width: 14.3333em;
}

input[type="file"] + label:HOVER {
    background-color: rgb(67, 137, 203);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none;
}

/* Styling a table and its content. */
table {
    border: .13333em solid rgb(67, 137, 203);
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 1.5em;
    line-height: 1.5;
    table-layout: fixed;
    width: 100%;
}

/* Apply some white space and alignment. */
th, td {
    padding: .6666em;
}

th {
    font-family: 'dancing_script', sans-serif;
    letter-spacing: .13333em;
}

td {
    letter-spacing: .06666em;
}

tbody td {
    text-align: center;
}

/* Tweak a table heading. */
thead {
    background: url(../images/table-heading.png) left top;
    color: white;
}

thead th {
    background: linear-gradient(to bottom, 
            rgba(0,0,0,0.1), rgba(0,0,0,0.7));
    border: .13333em solid rgb(67, 137, 203);
}

/* Apply zebra striping. */
tbody tr:nth-child(odd) {
    background-color: rgb(67, 137, 203);
}

tbody tr:nth-child(even) {
    background-color: rgb(87, 187, 153);
}

tbody tr {
    background-image: url(../images/noise.png);
}

/* Styling a page reference container and its content. */
div#pageReferenceContainer {
    font-size: 1.5em;
    line-height: 1.5;
    margin : .6666em auto;
    width: 36.6666em;
}

div#pageReferenceContainer span {
    margin-right: .6666em;
}

div#pageReferenceContainer span a, 
        div#pageReferenceContainer span a:LINK, 
        div#pageReferenceContainer span a:VISITED {
    border: .13333em solid rgb(67, 137, 203);
    border-radius: 1em;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: .6666em;
    text-decoration: none;
}

div#pageReferenceContainer span a:FOCUS, 
        div#pageReferenceContainer span a:HOVER {
    background-color: rgb(67, 137, 203);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none;
}

div#pageReferenceContainer span a:ACTIVE {
    background-color: rgb(0, 0, 0);
    border-color: rgb(67, 137, 203);
    color: rgb(255, 255, 255);
}

/* Styling the view of a response message and its content. */
div#responseMessageView {
    background: url(../images/background-info.png) repeat left top;
    border: .13333em solid rgb(67, 137, 203);
    border-radius: 1em;
    font-size: 1.5em;
    line-height: 1.5;
    margin : .6666em auto;
    padding: 2em;
    width: 36.6666em;
}

div#responseMessageView > p {
    margin: 0;
}

/* Styling an error view and its content. */
div#errorView {
    background: url(../images/background-error.png) repeat left top;
    border: .13333em solid rgb(254, 0, 0);
    border-radius: 1em;
    font-size: 1.5em;
    line-height: 1.5;
    margin : .6666em auto;
    padding: 2em;
    width: 36.6666em;
}

div#errorView p:FIRST-CHILD {
    margin-bottom: .6666em;
    margin-top: 0;
}

div#errorView p:LAST-CHILD {
    margin: 0;
}

div#errorView p span {
    color: rgb(254, 0, 0);
    display: inline-block;
    font-size: 3.3333em;
}
